@charset "UTF-8";

.tg  {border-collapse:collapse;border-spacing:0;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
input {width:250px; height:30px; }